# ignore presentations, spreadsheets and videos
*.pptx
*.mp4
*.xls*

# ignore data files and collections
*.h5
*.tsv
*.gz
*.zip
*.json
*.gmt
*.fa
*.index
*.fastq
**/schistosoma/ # ignore directory in any depth
*.gtf
*.mtx
*.bus
*.ec
*whitelist.txt
*cells_x_genes*
*.fq
*.seurat

# ignore the results from MultiQC analysis
**/MultiQC/
**/multiqc_data/
**/test/

# ignore the results from ClusterObject
**/Results_21_May_20

# ignore residuals from analysis
*.js
**/js/
*.css
**/css/
*.map
*.Rproj
*.RData
*.Rhistory
*.log

# ignore plotly examples
**/example_plotly/
.Rproj.user
.Rhistory
.RData

# ignore Rmd files
**/Rmarkdown_essentials_files/